body {
  margin: 0;
}

.dummy {
  background-color: #6d8cf1ff;
  margin: 0;
  height: 100vh;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #f16d6dff;
  padding: 16px;
  font-size: 24px;
}

.temporary {
  background-color: #6df1a1ff;
  padding: 16px;
  font-size: 24px;
  height: 200vh;
}
