body {
  margin: 0;
}

.dummy {
  background-color: #6d8cf1ff;
  margin: 0;
  height: 100vh;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #f16d6dff;
  padding: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #00000033;
}

.temporary {
  background-color: #6df1a1ff;
  padding: 16px;
  font-size: 24px;
  height: 200vh;
}
